*{

  margin-bottom: 0px;
}

  body {font-family: sans-serif; 
    font-size: 14px;
    /*background-color: #fedbd0;
    */
    border:10px solid #9f71c7;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #959be8, #8f9cf0, #889ef7, #9394ff, #a687ff, #bd76ff, #d65ffb);
  
  
  }

  .bloque {
    border: 5px solid #b4146452;
    padding: 10px;
    margin: 10px 50px;
  }
  

  #navlist { padding: 1px 0px;
  border-bottom: 1px solid #778;
  font: bold 16px Verdana, sans-serif; 
  text-align: right;

  
  margin-bottom: 1px;
}
  
  #navlist li { list-style: none; 
    display: inline; 
    margin-left:30px;}
  
  #navlist li a { padding: 3px 1em;
  border: 1px solid #a39ee8; border-bottom-style: double;
  background: #2f7cd8; text-decoration: none; }
  
  #navlist li a:link { color: #2f2c79; }
  #navlist li a:hover {color: #000; background: #AAE; border-color: #227; }
  #navlist li a#current { background: #AAE; }

  #lista1 li{
    display:inline;
    padding-right: 40px;
    margin: 0px;
    font-size: 24px;
    font-family: 'Courgette', cursive;
   
  }

  .proyectos li{
    display:inline-block;
    padding-right: 40px;
    font-family: 'Courgette', cursive;
   margin: 0%;
  }

  #proyectos{
    
    border: 0px;
    margin: 0%
 
   ;
  }

  h1{
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 40px;
    margin-top: 55px;
  }

  p{
    font-family: 'Courgette', cursive;
   font-size: 25px;
      
  }

  .proyectos{
    font-size: 23px;
  }

  .semititulo{
    font-size: 30px;
  }

  @media (min-width: 600px) {
  .column {
    width: 50%;
  }
}


  

  
