h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

body{
  background-color: pink;
}

h1 {
  background-image: url("imagenes/image1.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;

}

.item h2 {
  font-size: 32px;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#brush {
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

#cat{
  text-align: right;
  color:blueviolet;
  font-family: fantasy;
}

.borde{
  border-radius: 20px;
}